.project-setup {
    margin-bottom: 2.5rem;
}

.project__form {
    display: flex;
    flex-direction: column;
}

.project__title, .project__description {
    background-color: var(--textbar-gray);
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1rem;
    resize: none;
    width: 100%;
}

.project__title:hover, .project__description:hover {
    background-color: var(--textbar-gray-hover);
}

.project__title {
    margin: 1rem 0;
}

@media (max-width: 834px) {
    .project-setup {
        margin-top: 2.5rem;
    }
}