.save-btn {
    background-color: var(--blue-300);
    border: none;
    border-radius: 8px;
    line-height: 1.5rem;
    font-size: 1rem;
    padding: 1rem;
}

.save-btn:hover {
    background-color: var(--save-btn-hover);
    cursor: pointer;
}

.save-btn:active {
    border: 4px solid var(--save-btn-border);
}

.save-btn:focus {
    background-color: var(--save-btn-focus);
}