.code-editor {
    display: flex;
    flex-direction: column;
}

.code-editor__background {
    background-color: #6BD1FF;
    border-radius: 8px;
    padding: 2rem;
}

.code-editor__container {
    display: flex;
    flex-direction: column;
}

.code-editor__topbar {
    background-color: var(--dark-gray);
    border-radius: 8px 8px 0 0;
    display: flex;
    padding: 1rem;
}

.code-editor__circle {
    background-color: white;
    border-radius: 100%;
    height: 12px;
    margin-right: 0.5rem;
    width: 12px;
}

.code-editor__circle--red {
    background-color: var(--mac_red);
}

.code-editor__circle--yellow {
    background-color: var(--mac_yellow);
}

.code-editor__circle--green {
    background-color: var(--mac_green);
}

.code-editor__textarea {
    background-color: var(--dark-gray);
    border: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    color: var(--white);
    font-family: 'Roboto mono', monospace;
    font-size: 0.875rem;
    line-height: 1.125rem;
    padding: 1rem;
    resize: none;
}

.code-editor__textarea:focus {
    outline: none;
}

.code-editor__highlight-btn {
    background-color: var(--blue-300-inactive);
    border: none;
    border-radius: 8px;
    color: var(--white);
    margin-top: 2rem;
    padding: 1rem;
}

.code-editor__highlight-btn:hover {
    background-color: var(--blue-300-hover);
    cursor: pointer;
    transition: 0.2s;
}

.code-editor__highlight-btn:active {
    border: 4px solid var(--blue-300-focus);
}

.code-editor__highlight-btn:focus {
    background-color: var(--blue-300-focus);
}