.topbar {
    display: grid;
    column-gap: 2.5rem;
    grid-template-columns: 1fr 2.75fr 1fr;
}

.topbar__logo {
    align-self: center;
    justify-self: left;
    padding-right: 0.75rem;
}

.topbar__searchbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.topbar__input {
    background-color: var(--textbar-gray);
    border: 0px;
    border-radius: 8px;
    color: var(--white);
    padding: 1rem;
    width: 100%;
}

.topbar__input:hover {
    background-color: var(--textbar-gray-hover);
}

.topbar__author {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    
}

.topbar__profilepic {
    border-radius: 100%;
    max-height: 2rem;
    max-width: 2rem;
}

.topbar__link {
    align-items: center;
    display: flex;
    padding: 0.75rem;
    text-decoration: none;
}

.topbar__link:hover {
    background-color: var(--background-hover);
    border-radius: 8px;
}

.topbar__name {
    color: var(--white);
    margin-left: 0.5rem;
}

.topbar__search-icon {
    display: none;
}

.topbar__menu {
    display: none;
}

@media (max-width: 768px) {
    .topbar {
        display: flex;
    }

    .topbar__logo {
        padding-right: 0;
    }

    .topbar__author {
        display: none;
    }
    
    .topbar__search-icon {
        display: none;
    }

    .topbar__menu {
        align-items: center;
        border-radius: 16px;
        display: flex;
        height: 3rem;
        justify-content: center;
        width: 3rem;
    }
    
    .topbar__menu:hover {
        background: var(--blue-300-inactive);
        cursor: pointer;
    }

    .topbar__menu:active {
        background: var(--blue-300-hover);
    }

    .fa-bars {
        color: var(--white);
        font-size: 2.5rem;
        line-height: 1.5rem;
        padding: 0.75rem;
    }
}

@media (max-width: 480px) {
    .topbar {
        justify-content: space-between;
    }

    .topbar__hamburger {
        display: flex;
        justify-content: space-between;
    }

    .topbar__searchbar {
        display: none;
    }

    .topbar__search-icon {
        align-items: center;
        border-radius: 16px;
        display: flex;
        height: 3rem;
        justify-content: center;
        margin: 0 2rem;
        width: 3rem;
    }

    .fa-bars {
        color: var(--white);
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 0.75rem;
    }

    .topbar__search-icon:hover {
        cursor: pointer;
        background: var(--blue-300-inactive);
    }

    .topbar__search-icon:active {
        background: var(--blue-300-hover);
    }

    .fa-search {
        color: var(--white);
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 0.75rem;
    }

}