.menu {
    display: flex;
    flex-direction: column;
}

.menu__title {
    color: var(--white);
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.menu__item {
    align-items: center;
    color: var(--white);
    display: flex;
    margin: 1rem 0;
    opacity: 0.56;
    text-decoration: none;
}

.menu__item:hover {
    opacity: 0.72;
}

.menu__item:hover > .menu__icon {
    background-color: var(--menu-hover);
}

.menu__item--active, .menu__item--active:hover {
    opacity: 1;
}

.menu__item--active:hover > .menu__icon--active {
    background-color: var(--blue-300);
    
}

.menu__icon {
    align-items: center;
    background-color: var(--blue-300-inactive);
    border-radius: 1rem;
    display: flex;
    height: 3rem;
    justify-content: center;
    min-width: 3rem;
}

.menu__icon--active {
    background-color: var(--blue-300);
}

.menu__description {
    margin: 1rem;
    margin-right: 0;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }
}