.main {
    column-gap: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 2.75fr 1fr;
    margin-top: 2.5rem;
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
    }
}