.main {
    column-gap: 2.5rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2.75fr) minmax(0, 1fr);
    margin-top: 2.5rem;
}

@media (max-width: 972px) {
    .main {
        grid-template-columns: 1fr;
    }
}